
<div class="bg-img">
  <div class="container" *ngFor="let data of imageData">
    <div class="row justify-content-center">
      <div class="col-md-4 col-sm-4"> 
        <div class="card" >
          <div class="card-body">
            <img src="{{data.images.front.path}}" class="card-img-top">
          </div>
          <div class="card-footer text-muted">
            {{data.name}}
          </div>
        </div>
      </div>
      <div class="col-md-4 col sm-4">
        <div class="card">
          <div class="card-body">
            <img src="{{data.images.right.path}}" class="card-img-top">
          </div>
          <div class="card-footer text-muted">
            {{data.name}}
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="card">
          <div class="card-body">
            <img src="{{data.images.left.path}}" class="card-img-top">  
          </div>
          <div class="card-footer text-muted">
            {{data.name}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

