<div class="container">
    <div class="profile-header">
      <div class="profile-img">
        <img *ngIf="profile_pic" src="{{profile_pic}}" width="200" alt="Profile Image">
        <img *ngIf="!profile_pic" src="../../../assets/images/user-512.png" width="200" alt="Profile Image">
      </div>
      <div class="profile-nav-info">
        <h3 class="user-name"> {{fullName}} </h3>
        <div class="address">
          <p id="state" class="state"> {{designation}}  </p>
          <span id="country" class="country"> </span>
        </div>
  
      </div>
      <!--<div class="profile-option">
        <div class="notification">
          <i class="fa fa-bell"></i>
          <span class="alert-message">3</span>
        </div>
      </div>-->
      
    </div>
   
    <div class="main-bd">
      <div class="left-side">
        <div class="profile-side">
          <div class="pic btn btn-lg ">
            Change Profile pic
            <input type="file" (change)="onFileChange($event)">
          </div>
          <div class="details">
              <p class="user-mail"> <i class="fa fa-envelope"></i> {{userEmail}} </p>
              <p *ngIf="mobile_no" class="mobile-no"> <i class="fa fa-phone"></i> {{mobile_no}}</p>
              <p *ngIf="station" class="user-mail"> <i class="fas fa-home"></i> {{station}} </p>
              <p *ngIf="district" class="user-mail"><i class="fas fa-map-marker"></i> {{district}}, {{state}} </p>
              <p *ngIf="country" class="user-mail"> <i class="fas fa-globe-asia"></i> {{country}} </p>
          </div>
         
          <div class="user-bio">
            <!--<h3>Bio</h3>
            <p class="bio">
              Lorem ipsum dolor sit amet, hello how consectetur adipisicing elit. Sint consectetur provident magni yohoho consequuntur, voluptatibus ghdfff exercitationem at quis similique. Optio, amet!
            </p>-->
          </div>
          <div class="profile-btn">
            <button class="chatbtn" id="chatBtn" (click)="updateProfile()"><i class="fas fa-pen-square"></i> Edit Profile </button>
            <button class="chatbtn" id="chatBtn" (click)=" updateUserData()" > <i class="fas fa-user-cog"></i> Settings </button>
            <!--<button class="createbtn" id="Create-post"><i class="fa fa-plus"></i> Create</button>-->
          </div>
         
        </div>
  
      </div>
      <div class="right-side">
  
        <!--<div class="nav">
          <ul>
            <li onclick="tabs(0)" class="user-post active">Posts</li>
            <li onclick="tabs(1)" class="user-review">Reviews</li>
            <li onclick="tabs(2)" class="user-setting"> Settings</li>
          </ul>
        </div>-->
        <div class="profile-body">
          <div class="lookout-title">
            <h2> Manage Culprit Data </h2>
          </div>
            <div class="not-found">
              <h3 *ngIf="!resState"> No data found </h3>
            </div>
  
          <div *ngIf="resState" class="wrappers">
            <div class="card"  *ngFor="let data of userLookoutData">
              <div class="row">
                  <div class="col-4">
                      <img class="img-card" src="{{data.images.front.path}}">    
                  </div>
                  <div class="col-8">
                      <div class="card-body">
                          <p class="card-text"> Culprit Name : {{data.name}} </p>
                          <p class="card-text"> Crime No: {{data.crimeNumber}} </p>
                          <div class="row">
                            <div class="col-9">
                              <!--<button title="Update" class="btn float-right  btn-primary" > <i class="fas fa-pen-square"></i> </button>-->
                            </div>
                            <div class="col-3">
                              <button title="Delete" class="btn float-right btn-danger" (click)="deleteLookOutData(data)" > <i class="fas fa-trash"></i> </button>
                            </div>
                          </div>
                      </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>