<nav class="navbar  navbar-expand-xl  navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" routerLink='/home' > Overwatch </a>
    <button class="navbar-toggler" id="nav-toggle-button" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"> </span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <!--<li class="nav-item">
          <a class="nav-link" *ngIf ="auth.loggedIn()"  routerLink="/fileupload" routerLinkActive="active"> Upload Images </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link"  *ngIf ="auth.loggedIn()" routerLink="/gallery" routerLinkActive="active" > Gallery </a>
        </li>-->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" 
            *ngIf = "auth.loggedIn()" 
            href="#" id="navbardrop" 
            data-toggle="dropdown">
            <i class="fas fa-eye"></i> 
            Lookout Section
          </a>

          <div class="dropdown-menu">
            <li class="nav-item">
              <a class="nav-link" 
               *ngIf ="auth.loggedIn()"  
                routerLink="/createlookoutdata" 
                routerLinkActive="active"> 
                <i class="fas fa-edit"></i>
                 Add Details 
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" 
               *ngIf ="auth.loggedIn()"  
                routerLink="/search" 
                routerLinkActive="active"> 
                <i class="fas fa-search"></i> 
                Search culprit
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link"  
                *ngIf ="auth.loggedIn()" 
                routerLink="/gallery" 
                routerLinkActive="active"> 
                <i class="fas fa-image"></i>
                Gallery 
              </a>
            </li>
          </div>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
          <a class="nav-link"  *ngIf ="!auth.loggedIn()"  routerLink="/login" routerLinkActive="active">  Login </a>
          <a class="nav-link"  *ngIf ="!auth.loggedIn()" routerLink="/register" routerLinkActive="active"> Register </a>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"  style = "cursor:pointer;" *ngIf = "auth.loggedIn()"  id="navbardrop" data-toggle="dropdown">
                <i class="far fa-user"></i>
                Hi, {{auth.getUserName()}}
            </a>
            <div class="dropdown-menu">
              <a class="nav-link" style = "cursor:pointer;" *ngIf = "auth.loggedIn()" (click)="viewProfile()"> <i class="fas fa-user"></i> Profile </a>
              <a class="nav-link" style = "cursor:pointer;" *ngIf = "auth.loggedIn()" (click)="auth.logoutUser()">  <i class="fas fa-sign-out-alt"></i> Logout </a>
            </div>
          </li>
      </ul>
    </div>
</nav>

<router-outlet></router-outlet>