.navbar{
    padding-right: 50px;
    width: 100vw;
}
.navbar-brand{
    font-weight: bold;
    font-size: 1.5em;
    color: #F8B92A;;
}

.dropdown-menu{
    width: 20px;
}

.dropdown-menu .nav-link{
    color: #000;
    padding: 10px;
    
}