/* You can add global styles to this file, and also import other style files */

html, body { 
    height: auto; 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


.bg-img
{
    background-image: url('/assets/images/home2.jpg');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    color: white;
    
}