<div class="bg-img">
	<form  (ngSubmit)="submit()">
		<div class="frame">
			<div class="center"> 
				<div class="title">
					<h1> <i class="fas fa-binoculars"></i> Add Culprit Details <i class="fas fa-binoculars"></i></h1>
				</div>
				<div class="input-group">
					<input type="text" 
					name="name" 
					ngModel required
					[(ngModel)]="name"
					class="form-control" 
					placeholder="Name">
				  </div>

				  <div class="input-group">
					<input type="text" 
					name="crimeNumber" 
					ngModel required
					[(ngModel)]="crimeNumber"
					class="form-control"    
					placeholder="Crime Number">
				  </div>
		
				<div class="dropzone">
					<img src="http://100dayscss.com/codepen/upload.svg" class="upload-icon" />
					<input type="file"
					name="image"
					multiple
					(change)="onFileChange($event)"
					 class="upload-input" />
				</div>
				<h6 *ngIf="validateMsg"> Minimum Three Images Required </h6>
				<mat-progress-bar *ngIf="isProgress" mode="determinate" value="{{progressPercent}}"></mat-progress-bar>

				<button *ngIf="isFile" type="submit" class="btn" name="uploadbutton"> Submit </button>
			</div>
		</div>
	</form>
</div>








	


