<div class="bg-img">
    <div class="container">
        <div class="row ">
            <div class="col-lg-4 col-md-4 my-5">
                <div class="search">
                    <h2> Search Your Culprit </h2>
                    <div class="search-box">
                        <form>
                            <input type="text" class="search-txt" placeholder="Culprit Name">
                            <button type="submit" class="search-btn"> <i class="fas fa-search"></i> </button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-8 ">
                
            </div>
        </div>
    </div>
</div>