<div class="bg-img">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4 my-5 py-5 px-sm-5">
                <div class="search">
                    <h2> <span> Search Your Culprit </span> </h2>
                    <div class="search-box">
                        <form>
                            <input type="text" class="search-txt" placeholder="Culprit Name">
                            <button type="submit" class="search-btn"> <i class="fas fa-search"></i> </button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-8"></div>
        </div>
    </div>
</div>