.bg-img{
    background-image: url('../../../assets/images/bg3.jpg');
    background-color: #1d539f;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.search{
    margin-top: 95px;
}

.p{
    text-align: justify;
}
.search h2{
    padding-left: 20px;
    font-size: 25px;
    font-size: bold;
    color: #F8B92A;
}

.search-box{
    margin-top: 20px;
    height: 60px;
    background-color:  #353535;
    border-radius: 60px;
    padding: 10px;
    width: auto;
    
}

.search-txt{
    margin-top: 5px;
    margin-left:15px;
    outline: none;
    border: none;
    color: #fff;
    width: 70%;
    background: #353535;
}


.search-btn{
    display:flex;
    justify-content: center;
    align-items: center;
    text-decoration:none;
    background: #353535;
    padding: 10.5px;
    border-radius: 50%;
    float: right;
    color: #F8B92A;
}
